* {
  margin: 0;
  text-decoration: none; }

body {
  height: 100%;
  width: 100%; }

a {
  text-decoration: none;
  color: #0192B5; }

ul {
  list-style: none;
  padding: 12px; }

.nav {
  display: block;
  max-height: 80px;
  min-height: 60px;
  border: 1px solid red; }

.subnav {
  max-height: 43px;
  min-height: 20px;
  background-color: yellow;
  position: relative;
  display: inline-block; }

.menu-list a {
  color: grey; }

.container {
  background-color: #f5f5f1;
  padding: 30px; }

.showResultsFor {
  float: left; }

.allCat {
  border: 1px solid brown;
  background-color: white; }

.grid {
  overflow: auto;
  padding-left: 10px; }

.iSquare {
  padding: 10px;
  width: 250px;
  height: 250px;
  float: left; }

.image-text-title {
  color: black;
  width: 100%; }

.img {
  border: 0; }

.itemDescript {
  background-color: white;
  height: 32px; }

.imageTitle {
  font-size: 10px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.itemPrice {
  color: #78c042;
  font-size: 12px;
  font-weight: 400;
  float: right;
  padding-left: 4px; }

.shopName {
  font-size: 10px;
  color: grey;
  padding-left: 0px;
  display: inline;
  position: relative; }

footer {
  background-color: #135021;
  height: 100px;
  color: white;
  text-align: center;
  line-height: 6; }
