* {
  margin: 0;
  text-decoration: none; }

body {
  height: 100%;
  width: 100%; }

a {
  text-decoration: none;
  color: #0192B5; }

ul {
  list-style: none;
  padding: 12px; }

li {
  padding-left: 7px; }

.nav {
  display: block;
  max-height: 80px;
  min-height: 60px;
  border: 1px solid red; }

.subnav {
  max-height: 43px;
  min-height: 20px;
  background-color: yellow;
  position: relative;
  display: inline-block; }

.menu-list a {
  color: grey; }

.container {
  background-color: #f5f5f1;
  padding: 30px; }

.showResultsFor {
  float: left; }

.allCat {
  border: 1px solid lightgrey;
  background-color: white; }

.categ-colum a {
  padding-left: 1px; }

.grid {
  overflow: auto;
  margin-left: 18px; }

.iSquare {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 250px;
  height: 250px;
  float: left;
  border: 1px solid #e6e6e6;
  text-overflow: ellipsis;
  background-color: white; }

.squareUrl {
  color: black; }

img {
  height: auto;
  width: 250px;
  border: 0; }

.itemDescriptBox {
  line-height: 10px;
  height: 35px;
  border: 1px solid lightgrey; }

.imageTitle {
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.itemPrice {
  color: #78c042;
  font-size: 12px;
  font-weight: 400;
  float: right;
  padding-left: 4px; }

.shopName {
  font-size: 10px;
  color: grey;
  padding-left: 0px;
  display: inline;
  position: relative; }

footer {
  background-color: #135021;
  height: 100px;
  color: white;
  text-align: center;
  line-height: 6; }
